.footer_table {
    background-color: red;
}

.footer {
    height: max-content;
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 0;

}


/* update footer flex direction */
@media only screen and (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
        /* gap: 2em; */
        justify-content: center;
        align-items: center;
        page-break-inside: avoid;

    }
}


/* remove bottom text */
@page {
    margin: 2mm
}